.docs{
  padding: 120px 0;
  background: url("./docsBg.png") center/contain no-repeat;
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */

    letter-spacing: 0.25px;

    /* Black */

    color: #101010;
    margin-bottom: 5px;
  }
  &__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */

    letter-spacing: 0.25px;

    /* Grey */

    color: #424249;
    margin-bottom: 30px;
  }
  &__gallery{
    display: flex;
    overflow: auto;
  }
  &-card{
    margin-right: 25px;
    &__title{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      /* identical to box height */

      letter-spacing: 0.25px;

      /* Grey */

      color: #424249;
      text-align: center;
    }
  }
}