.header{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* Black */

    color: #101010;
    display: flex;
    align-items: center;
     &-img{
       margin-right: 14px;
     }
   }
  .menu{
    display: flex;
    &-item{
      margin-right: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height */

      letter-spacing: 0.4px;

      /* Black */

      color: #101010;
      padding: 31px 0;
      position: relative;
      transition: 0.4s ease;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 2px dashed #6A64D0;
        bottom: 21px;
        left: 0;
        transition: .4s ease-in-out;
      }
      &:hover{
        &:before{
          width: 100%;
        }
      }
      &.dropdown{
        cursor: pointer;
        &:hover{
        .dropdown-content{
          display: flex;
          .dropdown__link{
            color: #101010;
          }
        }
      }
        .dropdown-content{
          display: none;
          background: #FFFFFF;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
          border-radius: 0 0 10px 10px;
          flex-direction: column;
          width: 287px;
          padding: 20px;
          position: absolute;
          bottom: 0;
          top: 88px;
          height: 151px;
          .dropdown__link{
            margin-bottom: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            /* identical to box height */

            letter-spacing: 0.25px;

            /* Black */

            color: #101010;
            &:hover{
              color: #6A64D0;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }


      }
      &:hover{
        color: #6A64D0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .personal{
    .sign-in{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height */


      /* pRIMERY */

      color: #6A64D0;
      border: none;
      background: none;
      margin-right: 25px;
      cursor: pointer;
    }
    .reg{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      padding: 5px 17px 7px;
      cursor: pointer;
      background: #6A64D0;
      border: none;
      border-radius: 5px;
    }
    .logged{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */

      text-align: center;

      /* White */

      color: #FFFFFF;
      padding: 5px 17px 7px;
      cursor: pointer;
      background: #6A64D0;
      border: none;
      border-radius: 5px;
      &.hidden{
        display: none;
      }
    }
  }
}